html 
{
    background-color: #fff;
    color: #212121;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-size: 1em;
}


section h1, 
section h2, 
section h3
{
    font-weight: 500;
    margin-bottom: 16px;
}
section h1 
{
    font-size: 1.5rem;  
}
section h2 
{
    font-size: 1.25rem;  
}
section h1::before
{
    content: "# "
}
section h2::before
{
    content: "## "
}

section h3::before
{
    content: "### "
}

article
{
    padding: .5rem
}

header > p {
    font-style: italic;
}
header, section {
    padding: 16px 32px;
}
p {
    margin: 8px 0;
}
a {
    text-decoration: none;
    color: #cc3366
}
ul {
    margin: 8px 32px;
}
ul > li::before {
    content: " - ";
}

pre > code
{
    display: block;
    line-height: 1.25rem;
}
code,
code.grouped > span
{
    background-color: #e9e9e9;
    border-radius: 4px;
    padding: 2px;
}
code.grouped > span
{
    margin-left: .125rem;
    margin-right: .125rem;
}
code.grouped
{
    background-color: unset;
    border-radius: unset;
    padding: unset;
}


button:focus,
input:focus
{
    outline: none;
}

input:not([type=button]):not([type=submit]):not([type=checkbox]):not([type=radio]),
textarea,
label
{
    width: 100%;
    max-width: 30rem;
    display: block;
}

label > input[type=checkbox],
label > input[type=radio]
{
    margin-bottom: .25rem;
}

label
{
    margin-top: .5rem;
    margin-bottom: .25rem;
    font-size: .75rem;
}

button,
input,
textarea
{
    background: none;
    border: none;
    border-bottom: 1px solid #cc3366;
    padding: .5rem;
    color: #212121;
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 1rem;
}

textarea
{
    border: 1px solid #cc3366;
    margin: .5rem 0;
    min-height: 10rem;
}

button,
input[type=submit],
input[type=button]
{
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid #e9e9e9;
}
button.primary,
input[type=submit].primary,
input[type=button].primary
{
    border-color: #cc3366;
}
button:hover,
input[type=submit]:hover,
input[type=button]:hover
{
    transition: background-color .3s;
    background-color: #F5F5F5;
}
button:active,
input[type=submit]:active,
input[type=button]:active
{
    background-color: #e9e9e9;
}

.featured
{
    text-align: center;
    border: 1px solid #e9e9e9;
    border-radius: .25rem;
    margin: 1rem;
}

.featured h1::before,
.featured h2::before,
.featured h3::before
{
    content: none;
}

.content-break
{
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 800px) {
    .ascii {
        font-size: 1.75vw;
    }
    code.grouped {
        padding: 8px 0;
        display: flex;
        flex-wrap: wrap;
    }
    code.grouped > span {
        margin: .125rem;
    }
}