@import url("https://assets.inkapplications.com/css/main-v1.3.css");

/* Template Overrides */
:root 
{
    --color-accent: #cc3366;
}
@media (prefers-color-scheme: dark) {
    :root
    {
        --color-accent: #cf6ea9;
    }
}
body
{
    padding-top: 1rem;
}

/* Homepage Widgets */
.ascii
{
    font-size: 1rem;
    font-weight: 300;
}
.emoji
{
    font-size: 2rem;
    font-style: normal;
}
.sticker
{
    max-width: 8rem;
    max-height: 10rem;
}

/* Columned Sections, used for sticker placement */
.columned
{
    display: flex;
    flex-direction: row;
}
.columned.reversed
{
    flex-direction: row-reverse;
}
.columned > .sticker
{
    align-self: center;
    padding: 0 1rem;
}
.columned > .content
{
    align-self: flex-start;
    flex-grow: 1;
}

/* Publications */
hr
{
    width: 6rem;
}

/* Page header/footers */
body > footer,
header > h1 > pre
{
    text-align: center;
}
body > header > h1
{
    font-size: 2rem;
}

/* info-specific subtitle */
.subtitle-info
{
    font-style: italic;
    margin: 1em 0;
}

@media(max-width: 800px) {
    .columned
    {
        display: block;
    }
    .columned > .sticker
    {
        display: block;
        margin: 0 auto;
    }
    .ascii {
        font-size: 1.75vw;
    }
}

@media print {
    .subtitle-info
    {
        margin: .2em 0;
    }
    .emoji,
    .sticker
    {
        display: none!important;
    }
    .footer
    {
        margin: 0;
        margin-top: 1rem;
    }

}
